@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="loginCtrl as ctrl">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Even3</a>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#/AddColaborador">Cadastrar-se</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-white mb-4">Controle de Horas</h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <span class="anchor" id="formLogin"></span>
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Login</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" id="formLogin" ng-submit="ctrl.Login()">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="text" ng-model="ctrl.dadosLogin.Email"
                                               class="form-control form-control-lg rounded-0" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" ng-model="ctrl.dadosLogin.Senha"
                                               class="form-control form-control-lg rounded-0" required autocomplete="on">
                                    </div>
                                    <button type="submit" class="btn btn-success float-right">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/app/shared/services/loginService.js"></script>
    <script src="~/app/controllers/loginController.js"></script>
}